<article id="<?=$this->controller?>" class="main-center">
	<h1 class="pagina-titulo"><?=$this->titulo?></h1>

	<nav id="projetos-list">
		<? foreach($this->rows as $row){ ?>
		<? $img = @$row->fotos[0]->path; ?>
		<? $style = $img ? ' style="background-image:url('.IMG_URL.'/produtos/'.$img.')" ' : ''; ?>
		<a href="<?=IMG_URL?>/produtos/<?=$img?>" class="projeto" <?=$style?> rel="gallery_<?=$row->id?>" title="<?=strtoupper($row->titulo)?> - <?=$row->descricao?>" data-title="<?=$row->titulo?>" data-description="<?=$row->descricao?>">
			<span class="desc-wrapper">
				<span class="titulo"><?=$row->titulo?></span>
				<span class="descricao"><?=Is_Str::crop($row->descricao,500)?></span>
			</span>
		</a>
		<div class="hidden-gallery">
			<? $j=0; foreach(@$row->fotos as $foto){ $j++; ?>
			<? if($j==1){ continue; } ?>
			<a href="<?=IMG_URL?>/produtos/<?=$foto->path?>" class="projeto" rel="gallery_<?=$row->id?>" title="<?=strtoupper($row->titulo)?> - <?=$row->descricao?>" data-title="<?=$row->titulo?>" data-description="<?=$row->descricao?>">
				<img src="<?=IMG_URL?>/produtos/<?=$foto->path?>" alt="">
			</a>
			<? } ?>
		</div>
		<? } ?>
	</nav>

	<br clear="all">
</article>
