<?=Css::load(CSS_PATH.'/admin/sugestoes.less')?>
<?=Js::script('var SUGESTOES = '.json_encode((array)$this->sugestoes).';')?>
<?=Js::load(JS_PATH.'/admin/sugestoes.js')?>

<!--<h3>&raquo; Sugestões de acompanhamento</h3>-->

<form action="" class="frm-sugestoes">
    <input type="text" class="txt" id="sugestoes-search" />
    <input type="hidden" id="sugestoes-id" />
    <input type="submit" class="bt" id="sugestoes-submit" value="Ok" />
</form>

<ul class="sugestoes-list">
    <? if($this->sugestoes_list){ foreach($this->sugestoes_list as $sugestao){ ?>
    <li><?=$sugestao->titulo?>
        <button class="ui-state-default ui-corner-all sugestao-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="sugestao-id" value="<?=$sugestao->id?>" />
    </li>
    <? }} ?>
</ul>

<script type="text/x-jquery-tmpl" id="tmplSugestao">
    <li>${value}
        <button class="ui-state-default ui-corner-all sugestao-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="sugestao-id" value="${id}" />
    </li>
</script>