<?=($this->banners) ? $this->render('index/banner.phtml') : ''?>

<article id="<?=$this->controller?>" class="main-center">
	<section id="chamada">
		<div class="pagina-body"><?=$this->pagina->body?></div>
	</section>
</article>