<article id="<?=$this->controller?>" class="main-center">
	<h1 class="pagina-titulo"><?=$this->pagina->titulo?></h1>

	<section id="pagina-1">
	<div class="pagina-body">
		<div class="pagina-body1"><?=$this->pagina->body?></div>
		<div class="pagina-body2"><?=$this->pagina->body2?></div>
		<br clear="all">

		<? if((bool)trim($this->pagina->video)){ ?>
		<div class="pagina-video">
			<?=$this->bbCode('[video]'.$this->pagina->video.'[/video]')?>
		</div>
		<? } ?>
	</div>
	</section>
	
	<h1 class="pagina-titulo" id="equipe"><?=$this->pagina2->titulo?></h1>

	<section id="pagina-2">
	<div class="pagina-body">
		<?=$this->pagina2->body?>

		<figure class="pagina-equipe-img">
			<img src="<?=IMG_URL?>/paginas/<?=$this->pagina2->fotos_fixas->foto1?>" alt="">
			<div class="legenda">
				<?=$this->pagina2->body2?>
			</div>
		</figure>
		<br clear="all">
	</div>
	</section>
	
	<? if(ENV_DEV){ ?>
	<h1 class="pagina-titulo" id="midia">Na mídia</h1>
	
	<? if((bool)$this->webs){ ?>
	<h3 class="midia-titulo t1"><span>Web</span></h3>
	
	<nav id="webs-list">
		<? foreach($this->webs as $row){ ?>
		<? $img = (bool)trim(@$row->foto_path) ? $row->foto_path : null; ?>
		<? $css = !$img ? 'class="web"' :
				  'class="web img" style="background-image:url('.IMG_URL.'/webs/'.$img.')"'; ?>
		<a href="<?=$row->link?>" <?=$css?> target="_blank">
			<span class="tit">
				<span><?=$row->titulo?></span>
			</span>
		</a>
		<? } ?>
	</nav>
	<br clear="all">
	<? } ?>
	
	<? if((bool)$this->impressos){ ?>
	<h3 class="midia-titulo t2"><span>Impresso</span></h3>

	<nav id="impressos-list">
		<? foreach($this->impressos as $row){ ?>
		<? $img = (bool)trim(@$row->foto_path) ? $row->foto_path : null; ?>
		<? $css = !$img ? 'class="impresso"' :
				  'class="impresso img" style="background-image:url('.IMG_URL.'/impressos/'.$img.')"'; ?>
		<a href="<?=IMG_URL.'/impressos/'.$img?>" <?=$css?> rel="gallery_impressos_<?=$row->id?>">
			<span class="tit">
				<span><?=$row->titulo?></span>
			</span>
		</a>
		<div class="hidden-gallery">
			<? $j=0; foreach(@$row->fotos as $foto){ $j++; ?>
			<? if($j==1){ continue; } ?>
			<a href="<?=IMG_URL?>/impressos/<?=$foto->path?>" class="impresso" rel="gallery_impressos_<?=$row->id?>">
				<img src="<?=IMG_URL?>/impressos/<?=$foto->path?>" alt="">
			</a>
			<? } ?>
		</div>
		<? } ?>
	</nav>
	<br clear="all">
	<? } ?>

	<? if((bool)$this->videos){ ?>
	<h3 class="midia-titulo t3"><span>Vídeo</span></h3>

	<nav id="videos-list">
		<? foreach($this->videos as $row){ ?>
		<div class="video">
			<?=$this->bbCode('[video]'.$row->url.'[/video]')?>
		</div>
		<? } ?>
	</nav>
	<br clear="all">
	<? } ?>
	
	<? } // (des)habilita na-midia ?>

	<br clear="all">
</article>