/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/* banner-index.js */
.nivoSlider{-moz-box-shadow:none !important;-webkit-box-shadow:none !important;-o-box-shadow:none !important;-ms-box-shadow:none !important;box-shadow:none !important;z-index:1 !important;}

#banner-index .nivo-caption{
        position:absolute !important;
        bottom:0px !important;right:0 !important;
        opacity:1 !important;height:100px !important;background:transparent;}
#banner-index .nivo-caption a{border:none !important;}
#banner-index .nivo-caption h2{
        position:absolute !important;
        bottom:30px !important;right:0 !important;
        width:auto !important;height:auto !important;
        background:#000 !important;
        font-style:italic !important;
        text-align:right !important;
        color:#fff !important;text-transform:none !important;max-width:260px !important;
        z-index:12 !important;}

#banner-index .nivo-caption h2 a{
        font-family:Georgia,Verdana,Arial,sans-serif !important;
        font-size:16px !important;
        color:#fff !important;}

.theme-default .nivo-controlNav {
	position:absolute;
	left:auto;bottom:-5px;right:-5px;
    margin-left:auto; /* Tweak this to center bullets */
    z-index:11;
}
.theme-default .nivo-controlNav a {
    float:left;
    padding:3px 5px;
    background:#CFA859;
    font-weight:bold;
    margin-left:5px;
    color:#fff;
	display:block;
	width:auto;
	height:auto;
	text-indent:inherit;
	border:0;
	margin-right:0;
}
.theme-default .nivo-controlNav a.active {
	background-position:auto;color:#000;
}