<article id="<?=$this->controller?>" class="main-center">
	<h1 class="pagina-titulo">STANDS</h1>

	<nav id="stands-list">
		<? foreach($this->rows as $row){ ?>
		<? $img = @$row->fotos[0]->path; ?>
		<? $style = $img ? ' style="background-image:url('.IMG_URL.'/produtos/'.$img.')" ' : ''; ?>
		<a href="<?=URL?>/stands/<?=$row->alias?>" class="stand" <?=$style?>>
			<span class="titulo">
				<span><?=$row->titulo?></span>
			</span>
		</a>
		<? } ?>
	</nav>

	<br clear="all">
</article>
