<article id="<?=$this->controller?>" class="main-center interna">
	<h1 class="pagina-titulo"><?=$this->row->titulo?></h1>
	
	<div class="pagina-body">
		<?=$this->row->descricao?>
	</div>

	<nav id="stands-list">
		<? foreach($this->row->fotos as $row){ ?>
		<? $img = @$row->path; ?>
		<? $style = $img ? ' style="background-image:url('.IMG_URL.'/produtos/'.$img.')" ' : ''; ?>
		<a href="<?=IMG_URL.'/produtos/'.$img?>" class="stand" <?=$style?> rel="fancybox_gallery">
			<span class="titulo">
				<span><?=$this->row->titulo?></span>
			</span>
		</a>
		<? } ?>
	</nav>

	<br clear="all">

	<div class="share-bar">
		<a href="#" class="like">Like</a>
		<a href="#" class="share">Share</a>
	</div>
</article>
