<script>
$(document).ready(function(){
    $("#flash-messages").click(function(){
        $(this).fadeOut("slow");
    });
    
    <? if(count($this->flash_messages)){ ?>
    $("#flash-messages").delay(5000).fadeOut("slow");
    <? } ?>
});
</script>

<? if(count($this->flash_messages)){ ?>
<div id="flash-messages" class="<?=$this->modulo."-".$this->action;?> <?=$this->flash_messages[0]->type;?>">
    <ul>
        <? foreach($this->flash_messages as $flash_message){ ?>
        <li class="<?=$flash_message->type?>"><?=$flash_message->message?></li>
        <? } ?>
    </ul>
</div>
<? } else { ?>
<div id="flash-messages"><ul></ul></div>
<? } ?>