<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');//,$js_path.'alert2.js');//,$js_path.'is.shop.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = SITE_DESCRIPTION;
if(!$this->meta_keywords) $this->meta_keywords = Is_Str::text2keywords($this->meta_description);

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= SITE_TITLE;
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= SITE_TITLE;
}
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=$page_title?></title>
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta name="robots" content="index, follow" />
<? if($this->meta_canonical){ ?>
<link rel="canonical" href="<?=$this->meta_canonical?>" />
<? } ?>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>"/>
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>" />

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    FULL_URL   = "<?=FULL_URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    SITE_NAME  = "<?=SITE_NAME?>",
    DIR        = "<?=$this->section?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    MODULE     = "<?=$this->module?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    APP_ENV    = "<?=APP_ENV?>",
    ENV_DEV    = APP_ENV=='development',
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";

if(!SCRIPT) SCRIPT = <?=Js::exists($js_path.$this->controller.'-'.$this->action) ? '"'.$this->controller.'-'.$this->action.'"' : 'false'?>;
</script>

<? $gfonts = array(
    'Roboto:400','Titillium+Web:300,400','Raleway:300,400,600'
); ?>
<link href="https://fonts.googleapis.com/css?family=<?=implode('|',$gfonts)?>" rel="stylesheet">

<?=Css::$script_min($css).PHP_EOL?>
<!--[if lt IE 9]>
<?=Css::$script_min($css_path.'global-ie.css')?>
<?=Js::$script_min($js_path.'html5.js')?>
<![endif]-->
</head>
<body class=" body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">

<?=$this->render("flash-messages.phtml");?>

<div id="top-wrapper">
    <div id="top-links-wrapper">
        <nav id="top-links" class="main-center">
            <ul class="links-tel">
                <li><a href="tel:<?=$this->de->tel1?>" class="tel"><?=$this->de->tel1?></a></li>
                <li><a href="mailto:<?=$this->de->email?>" class="email"><?=$this->de->email?></a></li>
            </ul>
            <ul class="links-social">
                <li class="break mobile-cel"></li>
                <? $links_soc = 'instagram,facebook,pinterest'; ?>
                <? foreach(explode(',', $links_soc) as $ls){ ?>
                <? $lst = 'Siga-nos no '.ucfirst($ls); ?>
                <li><a href="<?=$this->de->{$ls}?>" class="social <?=$ls?>" title="<?=$lst?>">&nbsp;</a></li>
                <? } ?>
            </ul>
        </nav>
    </div>
    <header id="top" class="main-center top-<?=$this->controller?>">
        <a class="site-title" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>

        <nav class="top-menu" id="top-menu">
            <?=$this->navigation()->menu($this->menu->top);?>
        </nav>

        <a href="#" id="mobile-menu" class="mobile-cel mobile-menu" title="MENU">
            <span id="menu-lines"></span>
            <span id="menu-text"></span>
        </a>
    </header>
</div>

<div class="main main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">
    <section id="content" class="content content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <?=$this->layout()->content;?>
    </section>
</div>

<div class="foot foot-<?=$this->controller?> <?=($this->ajax ? 'ajax' : '')?>">
    <footer class="main-center">
        <a href="#top-wrapper" class="scroll-to">Voltar ao topo &uarr;</a>
        
        <nav class="footer-menu">
            <?=$this->navigation()->menu($this->menu->footer);?>
        </nav>

        <nav class="address">
            <ul class="links-tel">
                <li><a href="tel:<?=$this->de->tel1?>" class="tel"><?=$this->de->tel1?></a></li>
                <li><a href="mailto:<?=$this->de->email?>" class="email"><?=$this->de->email?></a></li>
                <li><a href="https://maps.google.com/maps?q=<?=_parseEndereco($this->dados_empresa)?>" target="_blank" class="loc"><?=$this->de->endereco?> - <?=$this->de->bairro?></a></li>
            </ul>
            <ul class="links-social">
                <? $links_soc = 'instagram,facebook,pinterest'; ?>
                <? foreach(explode(',', $links_soc) as $ls){ ?>
                <? $lst = 'Siga-nos no '.ucfirst($ls); ?>
                <li><a href="<?=$this->de->{$ls}?>" class="social <?=$ls?>" title="<?=$lst?>">&nbsp;</a></li>
                <? } ?>
            </ul>
        </nav>

        <br clear="all">
    </footer>
    
    <span class="credits">
        &copy; <?=date("Y")?> <?=SITE_TITLE?> &bull; Todos os direitos reservados &bull;
        <br class="mobile-cel">
        <a href="http://www.trupe.net" target="_blank">Criação de sites:</a>
        <a href="http://www.trupe.net" target="_blank">Trupe Agência Criativa <img src="<?=CSS_PATH?>/img/trupe.png" alt="Trupe Agência Criativa" title="Trupe Agência Criativa"></a>
    </span>
</div>

<?=Js::$script_min($js).PHP_EOL?>

<? if(APP_ENV=='production1'){ ?>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<? } ?>

</body>
</html>