<?=Css::load(CSS_PATH.'/admin/cores.less')?>
<?=Js::script('var CORES = '.json_encode((array)$this->cores).';')?>
<?=Js::load(JS_PATH.'/admin/cores.js')?>

<h3>&raquo; Cores</h3>

<form action="" class="frm-cores">
    <input type="text" class="txt" id="cores-search" />
    <input type="hidden" id="cores-id" />
    <input type="submit" class="bt" id="cores-submit" value="Ok" />
</form>

<ul class="cores-list">
    <? if($this->cores_list){ foreach($this->cores_list as $cor){ ?>
    <li><?=$cor->descricao?>
        <button class="ui-state-default ui-corner-all cores-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="cores-id" value="<?=$cor->id?>" />
    </li>
    <? }} ?>
</ul>

<script type="text/x-jquery-tmpl" id="tmplCores">
    <li>${value}
        <button class="ui-state-default ui-corner-all cores-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="cores-id" value="${id}" />
    </li>
</script>