<article id="<?=$this->controller?>" class="main-center">
	<h1 class="pagina-titulo"><?=$this->titulo?></h1>

	<nav id="projetos-list">
		<? foreach($this->rows as $row){ ?>
		<? $img = @$row->fotos[0]->path; ?>
		<? $style = $img ? ' style="background-image:url('.IMG_URL.'/produtos/'.$img.')" ' : ''; ?>
		<a href="<?=URL?>/projeto/<?=$row->alias?>" class="projeto" <?=$style?>>
			<span class="desc-wrapper">
				<span class="titulo"><?=$row->titulo?></span>
				<span class="descricao"><?=Is_Str::crop($row->descricao,100)?></span>
			</span>
		</a>
		<? } ?>
	</nav>

	<br clear="all">

	<div class="social-embeds">
		<? $links_soc = 'pinterest,instagram'; ?>
        <? foreach(explode(',', $links_soc) as $ls){ ?>
        <? $lst = 'Siga-nos no '.ucfirst($ls); ?>
        <div class="social-embed <?=$ls?>">
        	<a href="<?=$this->de->{$ls}?>" class="social <?=$ls?>" title="<?=$lst?>">&nbsp;</a>
			
			<? /*if($ls=='pinterest'){ ?>
			<? $posts = posts_pinterest($this->de->{$ls},2); ?>
			<? foreach($posts as $post){ ?>
			<? $url = $post->board_link; ?>
			<? $img = $post->board_image; ?>
			<a href="<?=$url?>" class="post post-pinterest" target="_blank">
				<img src="<?=$post->board_image?>" alt="<?=$post->board_name?>">
				<span class="link">Seguir</span>
				<span class="titulo"><?=$post->board_name?></span>
				<span class="pins"><?=$post->board_pin_count?></span>
			</a>
			<? } // foreach posts ?>
			<? } // if pinterest ?>
			
			<? if($ls=='instagram'){ ?>
			<? $posts = posts_instagram($this->de->{$ls},2); ?>
			<? foreach($posts as $post){ ?>
			<? $url = 'https://instagram.com/p/'.$post->code; ?>
			<? $img = $post->thumbnail_src; ?>
			<? $css = 'style="background-image:url('.$img.')"'; ?>
			<a href="<?=$url?>" class="post post-instagram" target="_blank" <?=$css?>>
				<?=$post->caption?>
			</a>
			<? } // foreach posts ?>
			<? } // if instagram*/ ?>
        </div>
        <? } ?>

        <div id="posts-instagram" class="hidden">
        	<a href="${url}" class="post post-instagram" target="_blank" style="background-image:url(${img})">
				${caption}
			</a>
        </div>

        <div id="posts-pinterest" class="hidden">
        	<a href="${url}" class="post post-pinterest" target="_blank">
				<img src="${board_image}" alt="${board_name}">
				<span class="link">Seguir</span>
				<span class="titulo">${board_name}</span>
				<span class="pins">${board_pin_count}</span>
			</a>
        </div>
	</div>
</article>
