<? $row = $this->row; ?>
<article id="<?=$this->controller?>" class="main-center interna">
	<h1 class="pagina-titulo">
		<a href="<?=URL?>/projetos"><?=$this->titulo?></a>
	</h1>
	
	<div class="projeto-body">
		<? $img = $row->foto ? $row->foto->path : null; ?>
		<? $css = $img ? ' class="tit img" style="background-image:url('.IMG_URL.'/produtos/'.$img.')"' : ' class="tit" '; ?>
		<h2 class="projeto-titulo">
			<span <?=$css?>>
				<span><?=$row->titulo?></span>
			</span>
		</h2>
		<?=nl2br($row->descricao)?>

		<? $txts = array(
			'local' => 'Local',
			'area' => 'Área do projeto',
			'desc_equipe' => 'Equipe',
			'desc_arquitetura' => 'Arquitetura',
			'desc_interiores' => 'Interiores',
			'desc_fotos' => 'Fotos',
		); ?>
		<ul class="projeto-dados">
			<? foreach($txts as $k => $v) if((bool)trim($row->{$k})){ ?>
			<li>
				<b><?=$v?>:</b>
				<?=$row->{$k}?>
			</li>
			<? } ?>
		</ul>

		<? if((bool)trim($row->tipo_projeto)){ ?>
		<span class="tipo-projeto">
			<?=$row->tipo_projeto?>
		</span>
		<? } ?>
	</div>

	<nav id="projetos-list" class="grid">
		<div class="projetos-list-1">
		<? $classes = array('w1','w2','w1','w3','w3','w3','w3','w2','w2'); $j=-1; ?>
		<? foreach($this->fotos1 as $foto){ $j++; ?>
		<? $img = @$foto->path; ?>
		<? $style = $img ? ' style="background-image:url('.IMG_URL.'/produtos/'.$img.')" ' : ''; ?>
		<? if($j>=count($classes)){ $j=0; } ?>
		<? $class = $classes[$j]; ?>
		<a href="<?=IMG_URL.'/produtos/'.$img?>" class="projeto grid-item <?=$class?>" <?=$style?> rel="fancybox_gallery">
			<img src="<?=IMG_URL.'/produtos/'.$img?>" alt="">
		</a>
		<? } ?>
		</div>
		
		<div class="projetos-list-2">
		<? $classes = array('w1','w3','w3','w3 cl','w3','w2 tm','w1','w2','w2'); $j=-1; ?>
		<? foreach($this->fotos2 as $foto){ $j++ ?>
		<? $img = @$foto->path; ?>
		<? $style = $img ? ' style="background-image:url('.IMG_URL.'/produtos/'.$img.')" ' : ''; ?>
		<? if($j>=count($classes)){ $j=0; } ?>
		<? $class = $classes[$j]; ?>
		<a href="<?=IMG_URL.'/produtos/'.$img?>" class="projeto grid-item <?=$class?>" <?=$style?> rel="fancybox_gallery">
			<img src="<?=IMG_URL.'/produtos/'.$img?>" alt="">
		</a>
		<? } ?>
		</div>
	</nav>

	<br clear="all">
</article>
