<? $foto1 = $this->pagina->fotos_fixas->foto1; ?>
<? $img = IMG_URL.'/paginas/'.$foto1; ?>
<? $style = $foto1 ? 'style="background-image: url('.$img.')"' : null; ?>
<div id="fundo" <?=$style?>></div>

<article id="<?=$this->controller?>" class="main-center">
	<div id="<?=$this->controller?>-wrapper">
		<h1 class="pagina-titulo-left">ÁREAS DE ATUAÇÃO</h1>
	
		<ul id="areas-list">
			<li>
				<? foreach($this->rows as $row){ ?>
				<span class="area">
					<?=$row->descricao?>
				</span>
				<? } ?>
			</li>
		</ul>
	</div>
</article>