<article id="<?=$this->controller?>" class="main-center1">
    <div class="tels-wrapper">
        <h3 class="pagina-titulo-left">TELEFONE</h3>
        <p class="tels">
            <?=$this->dados_empresa->tel1?>
            <? if((bool)trim($this->dados_empresa->tel2)){ ?>
            <br>
            <?=$this->dados_empresa->tel2?>
            <? } ?>
        </p>
        
        <h3 class="pagina-titulo-left">ENDEREÇO</h3>
        <p>
            <?=$this->dados_empresa->endereco?> <br>
            <?=$this->dados_empresa->bairro?> <br>
            <?=$this->dados_empresa->cidade?> / <?=$this->dados_empresa->estado?> <br>

            <? $links_soc = 'linkedin,facebook,instagram,youtube'; ?>
            <? foreach(explode(',', $links_soc) as $ls){ ?>
            <? $lst = 'Siga-nos no '.ucfirst($ls); ?>
            <a href="<?=$this->dados_empresa->{$ls}?>" class="social <?=$ls?>" title="<?=$lst?>">&nbsp;</a>
            <? } ?>
        </p>
    </div>

    <? $foto1 = $this->pagina->fotos_fixas->foto1; ?>
    <? $img = IMG_URL.'/paginas/'.$foto1; ?>
    <? $style = $foto1 ? 'style="background-image: url('.$img.')"' : null; ?>
    <div id="fundo" <?=$style?>></div>

    <div class="frm-contato-wrapper">
        <h1 class="pagina-titulo nobd">FALE CONOSCO</h1>

        <form action="" class="contato" method="post">
            <ul class="first">
                <li class="li-nome">
                    <input type="text" name="nome" id="nome" class="txt2 required" placeholder="NOME" />
                </li>
                <li class="li-email">
                    <input type="text" name="email" id="email" class="txt2 required" placeholder="EMAIL" />
                </li>
                <li class="li-mensagem">
                    <textarea name="mensagem" id="mensagem" class="txt2 required" placeholder="MENSAGEM"></textarea>
                </li>
                <li class="submit-container">
                    <input type="submit" id="submit-btn" class="hidden">
                    <input type="hidden" name="mensagem_id" value="<?=$this->mensagem_id1?>">
                    <input type="hidden" name="assunto" value="18">
                    <a href="#" id="submit">Enviar</a>
                    <p class="status"></p>
                </li>
            </ul>
        </form>
    </div>
</article>

<? if(ENV_PRO||1){ ?>
<iframe id="mapa" src="https://maps.google.com/maps?q=<?=_parseEndereco($this->dados_empresa)?>&output=embed" width="50%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
<? } ?>

