<article id="<?=$this->controller?>" class="main-center">
	<h1 class="pagina-titulo">CLIENTES</h1>

	<ul id="clientes-list">
		<li>
			<? foreach($this->rows as $row){ ?>
			<? $img = IMG_URL.(($row->foto_path)?'/clientes2/'.$row->foto_path:'not-found.jpg'); ?>
			<? $style = 'style="background-image: url('.$img.')"'; ?>
			<a href="<?=$row->link?>" target="_blank" class="cliente" <?=$style?>>
				<?=$row->titulo?>
			</a>
			<? } ?>
		</li>
	</ul>
</article>