<?=Css::loadLess(CSS_PATH."/admin/paginas-linhadotempo.less");?>
<?=Js::load(JS_PATH."/admin/paginas-linhadotempo.js");?>
<?=Js::load(JS_PATH."/jquery.tmpl.min.js");?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var URL = "<?=URL?>";
</script>

<h3>DESTAQUES</h3>

<div class="linha-tools">
    <a href="#" class="linha-add">+ Adicionar</a>
    <input type="hidden" id="linha-pagina-id" value="<?=$this->id?>" />
</div>

<ul class="linha-list">
    <li class="title">
        <span class="linha-title">Título</span> <span class="linha-title linha-title-descricao">Descrição</span>
    </li>
    <? if($this->linhadotempo){ foreach($this->linhadotempo as $linha){ ?>
    <li>
        <a href="#" class="linha-action linha-action-del">Excluir</a>
        <a href="#" class="linha-action linha-action-save">Salvar</a>
        <input type="text" class="txt linha-ano" name="linha-ano[]" value="<?=$linha->titulo?>" />
        <input type="text" class="txt linha-descricao" name="linha-descricao[]" value="<?=$linha->descricao?>" />
        <input type="hidden" class="linha-id" name="linha-id[]" value="<?=$linha->id?>" />
        <input type="hidden" class="linha-ano-original" name="linha-ano-original[]" value="<?=$linha->ano?>" />
        <input type="hidden" class="linha-descricao-original" name="linha-descricao-original[]" value="<?=$linha->descricao?>" />
    </li>
    <? }} ?>
</ul>

<!-- jQuery template -->
<script type="text/x-jquery-tmpl" id="tmplLinha">
    <li>
        <a href="#" class="linha-action linha-action-del">Excluir</a>
        <a href="#" class="linha-action linha-action-save">Salvar</a>
        <input type="text" class="txt linha-ano" name="linha-ano[]" value="${ano}" />
        <input type="text" class="txt linha-descricao" name="linha-descricao[]" value="${descricao}" />
        <input type="hidden" class="linha-id" name="linha-id[]" value="${id}" />
        <input type="hidden" class="linha-ano-original" name="linha-ano-original[]" value="${ano}" />
        <input type="hidden" class="linha-descricao-original" name="linha-descricao-original[]" value="${descricao}" />
    </li>
</script>
<!-- /jQuery template -->

<div class="linha-tools">
    <div class="linha-status"><ul></ul></div>
</div>