<?=Css::loadLess(CSS_PATH."/admin/paginas-tabela-de-medidas.less");?>
<?=Js::load(JS_PATH."/admin/paginas-tabela-de-medidas.js");?>
<?=Js::load(JS_PATH."/jquery.tmpl.min.js");?>

<? $campos = $this->tabelas_medidas->getCampos(); ?>
<?=Js::script('var MEDIDAS_CAMPOS = '.json_encode($campos).';');?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var URL = "<?=URL?>";
</script>

<? if($this->medidas){ foreach($this->medidas as $medidas){ ?>
<? $tabela_id = $medidas[0]->tabela_id; ?>
<? $tabela_descricao = $medidas[0]->tabela_descricao; ?>
<div class="tools">
    <a href="#" class="add" data-tabela-id="<?=$tabela_id?>">+ Adicionar tamanho</a>
    <h3 class="no-margin"><?=$tabela_descricao?></h3>
    <input type="hidden" name="medidas[tabela_id][]" value="<?=$tabela_id?>">
</div>

<table class="table-info table-medidas" id="tabela_medida_<?=$tabela_id?>">
    <thead>
        <tr>
            <td><b>Tamanho</b></td>
            <? foreach($medidas as $linha){ ?>
            <td>
                <input type="text" class="txt" name="medidas[tamanho][<?=$tabela_id?>][]" id="medidas_tamanho_<?=$linha->id?>" value="<?=$linha->tamanho?>" />
            </td>
            <? } ?>
        </tr>
    </thead>
    <tbody>
        <? foreach($campos as $key => $value){ ?>
        <tr data-campo="<?=$key?>">
            <td>
                <?=$value?>
            </td>
            <? foreach($medidas as $linha){ ?>
            <td>
                <?//=$linha->{$key}?>
                <input type="text" class="txt" name="medidas[<?=$key?>][<?=$tabela_id?>][]" id="medidas_<?=$key?>_<?=$linha->id?>" value="<?=$linha->{$key}?>" />
                <input type="hidden" name="medidas[id][<?=$tabela_id?>][<?=$linha->id-1?>]" class="medidas-id" id="medidas_id_<?=$linha->id?>" value="<?=$linha->id?>" />
            </td>
            <? } ?>
        </tr>
        <? } ?>
    </tbody>
    <tfoot>
        <tr>
            <td>&nbsp;</td>
            <? foreach($medidas as $linha){ ?>
            <td>
                <a href="#" class="del" data-tabela-id="<?=$tabela_id?>">Excluir</a>
            </td>
            <? } ?>
        </tr>
    </tfoot>
</table>
<? }} ?>