<?=Css::load(CSS_PATH.'/admin/formatos.less')?>
<?=Js::script('var FORMATOS = '.json_encode((array)$this->formatos).';')?>
<?=Js::load(JS_PATH.'/admin/formatos.js')?>

<h3>&raquo; Formatos</h3>

<form action="" class="frm-formatos">
    <input type="text" class="txt" id="formatos-search" />
    <input type="hidden" id="formatos-id" />
    <input type="submit" class="bt" id="formatos-submit" value="Ok" />
</form>

<ul class="formatos-list">
    <? if($this->formatos_list){ foreach($this->formatos_list as $formato){ ?>
    <li><?=$formato->formato?>
        <button class="ui-state-default ui-corner-all formatos-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="formatos-id" value="<?=$formato->id?>" />
    </li>
    <? }} ?>
</ul>

<script type="text/x-jquery-tmpl" id="tmplFormatos">
    <li>${value}
        <button class="ui-state-default ui-corner-all formatos-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="formatos-id" value="${id}" />
    </li>
</script>